@model List<LibraryManagement.Models.LibraryBranches>

<h1>Brancches List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var branches in Model)
    {
        <tr>
            <td>@branches.LibraryBranchId</td>
            <td>@branches.BranchName</td>
        </tr>
    }
    </tbody>
</table>