@model List<LibraryManagement.Models.Customers>

<h1>Customers List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customers in Model)
    {
        <tr>
            <td>@customers.CustomerId</td>
            <td>@customers.Name</td>
        </tr>
    }
    </tbody>
</table>